In [1]:
import pandas as pd
from sqlite3 import connect
pd.options.display.max_rows = 10

In [3]:
sumo = pd.read_csv("../data/results.csv", dtype={'basho': 'string', 'day': 'string', 'rikishi1_id': 'int64', 'rikishi1_rank': 'string', 'rikishi1_shikona': 'string', 'rikishi1_result': 'string', 'rikishi1_win': 'int64', 'kimarite': 'string', 'rikishi2_id': 'int64', 'rikishi2_rank': 'string', 'rikishi2_shikona': 'string', 'rikishi2_result': 'string', 'rikishi2_win': 'string'})
sumo

,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win
0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1
1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0
2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0
3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1
4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
227767,2023.07,15,11985,S1w,Daieisho,9-6,0,hikiotoshi,11855,M9e,Takanosho,8-7,1
227768,2023.07,15,12451,S1e,Hoshoryu,12-3,1,uwatenage,12796,M17w,Hakuoho,11-4,0
227769,2023.07,15,12796,M17w,Hakuoho,11-4,0,uwatenage,12451,S1e,Hoshoryu,12-3,1
227770,2023.07,15,12094,K1w,Abi,6-9,1,yorikiri,12231,O1w,Kirishima,6-7-2,0
227771,2023.07,15,12231,O1w,Kirishima,6-7-2,0,yorikiri,12094,K1w,Abi,6-9,1

In [4]:
banzuke = pd.read_csv("../data/banzuke.csv", dtype={'basho': 'string', 'day': 'string', 'rikishi1_id': 'int64', 'rikishi1_rank': 'string', 'rikishi1_shikona': 'string', 'rikishi1_result': 'string', 'rikishi1_win': 'int64', 'kimarite': 'string', 'rikishi2_id': 'int64', 'rikishi2_rank': 'string', 'rikishi2_shikona': 'string', 'rikishi2_result': 'string', 'rikishi2_win': 'string'})
banzuke.head()

,basho,id,rank,rikishi,heya,shusshin,birth_date,height,weight,prev,prev_w,prev_l
0,1983.01,1354,Y1e,Chiyonofuji,Kokonoe,Hokkaido,1955-06-01,182.0,116.0,Y1e,14.0,1.0
1,1983.01,4080,Y1w,Kitanoumi,Mihogaseki,Hokkaido,1953-05-16,179.0,165.0,Y2eHD,9.0,3.0
2,1983.01,4095,Y2eHD,Wakanohana,Futagoyama,Aomori,1953-04-03,186.0,133.0,Y1w,0.0,0.0
3,1983.01,4104,O1e,Takanosato,Futagoyama,Aomori,1952-09-29,181.0,144.0,O1e,10.0,5.0
4,1983.01,4112,O1w,Kotokaze,Sadogatake,Mie,1957-04-26,183.0,163.0,O1w,10.0,5.0

In [4]:
connection = connect(':memory:')
sumo.to_sql("sumo", connection)
banzuke.to_sql("banzuke", connection)
def sql(a_string):
    return(pd.read_sql(a_string, connection))

In [5]:
pd.read_sql("SELECT rikishi1_id, rikishi1_shikona FROM sumo", connection)

        rikishi1_id rikishi1_shikona
0              4140      Chikubayama
1              4306            Ofuji
2              1337     Tochitsukasa
3              4323         Shiraiwa
4              4097       Tamakiyama
...             ...              ...
227767        11985         Daieisho
227768        12451         Hoshoryu
227769        12796          Hakuoho
227770        12094              Abi
227771        12231        Kirishima

[227772 rows x 2 columns]

In [6]:
sql("""SELECT id, 
    rikishi FROM banzuke""")

           id      rikishi
0        1354  Chiyonofuji
1        4080    Kitanoumi
2        4095   Wakanohana
3        4104   Takanosato
4        4112     Kotokaze
...       ...          ...
177873  12833      Shiroma
177874  12734  Oyamazakura
177875  12631     Sadanojo
177876   2905   Higohikari
177877  12676  Yoshinofuji

[177878 rows x 2 columns]

In [23]:
sql("""SELECT sumo.rikishi1_id, sumo.rikishi1_shikona, banzuke.rikishi, 
    sumo.rikishi1_rank, banzuke.weight
    FROM sumo 
    JOIN banzuke 
    ON sumo.rikishi1_shikona = banzuke.rikishi 
    AND sumo.basho = banzuke.basho""")

        rikishi1_id rikishi1_shikona       rikishi rikishi1_rank  weight
0              4140      Chikubayama   Chikubayama          J13w   115.0
1              4306            Ofuji         Ofuji          Ms1e   145.0
2              1337     Tochitsukasa  Tochitsukasa          J12w   130.0
3              4323         Shiraiwa      Shiraiwa          J13e   103.0
4              4097       Tamakiyama    Tamakiyama          J12e   134.0
...             ...              ...           ...           ...     ...
227938        11985         Daieisho      Daieisho           S1w   161.0
227939        12451         Hoshoryu      Hoshoryu           S1e   131.0
227940        12796          Hakuoho       Hakuoho          M17w   156.0
227941        12094              Abi           Abi           K1w   149.0
227942        12231        Kirishima     Kirishima           O1w   138.0

[227943 rows x 5 columns]

In [63]:
combined_sql_query = pd.read_sql_query("""SELECT sumo.rikishi1_id, sumo.rikishi1_shikona, banzuke.rikishi, 
    sumo.rikishi1_rank, banzuke.weight
    FROM sumo 
    JOIN banzuke 
    ON sumo.rikishi1_shikona = banzuke.rikishi 
    AND sumo.basho = banzuke.basho""", connection)

combined_sql_query
combined_df = pd.DataFrame(combined_sql_query)
combined_df = combined_df.drop(['rikishi1_shikona'], axis=1)
combined_df

        rikishi1_id       rikishi rikishi1_rank  weight
0              4140   Chikubayama          J13w   115.0
1              4306         Ofuji          Ms1e   145.0
2              1337  Tochitsukasa          J12w   130.0
3              4323      Shiraiwa          J13e   103.0
4              4097    Tamakiyama          J12e   134.0
...             ...           ...           ...     ...
227938        11985      Daieisho           S1w   161.0
227939        12451      Hoshoryu           S1e   131.0
227940        12796       Hakuoho          M17w   156.0
227941        12094           Abi           K1w   149.0
227942        12231     Kirishima           O1w   138.0

[227943 rows x 4 columns]

In [76]:
combined_df.loc[combined_df.rikishi == 'Takamisakari'].describe()

       rikishi1_id       weight
count       1071.0  1071.000000
mean         875.0   137.178805
std            0.0     3.691542
min          875.0   133.500000
25%          875.0   134.000000
50%          875.0   135.500000
75%          875.0   141.000000
max          875.0   145.000000

In [20]:
sql_query = pd.read_sql_query("""SELECT sumo.rikishi1_id, sumo.rikishi1_shikona, banzuke.rikishi, 
    sumo.rikishi1_rank, banzuke.weight
    FROM sumo 
    JOIN banzuke 
    ON sumo.rikishi1_shikona = banzuke.rikishi 
    AND sumo.basho = banzuke.basho
    WHERE sumo.rikishi1_shikona="Tobizaru"
    """, connection)


df = pd.DataFrame(sql_query)
# df.drop(['A'], axis=1)
df_xxx = df.drop(['rikishi1_shikona'], axis=1)
df_xxx

     rikishi1_id   rikishi rikishi1_rank  weight
0          12203  Tobizaru          J14w   110.0
1          12203  Tobizaru          J14w   110.0
2          12203  Tobizaru          J14w   110.0
3          12203  Tobizaru          J14w   110.0
4          12203  Tobizaru          J14w   110.0
..           ...       ...           ...     ...
437        12203  Tobizaru           M1w   131.0
438        12203  Tobizaru           M1w   131.0
439        12203  Tobizaru           M1w   131.0
440        12203  Tobizaru           M1w   131.0
441        12203  Tobizaru           M1w   131.0

[442 rows x 4 columns]

In [59]:
print(xxx.to_string())

     rikishi1_id rikishi1_shikona   rikishi rikishi1_rank  weight
0          12203         Tobizaru  Tobizaru          J14w   110.0
1          12203         Tobizaru  Tobizaru          J14w   110.0
2          12203         Tobizaru  Tobizaru          J14w   110.0
3          12203         Tobizaru  Tobizaru          J14w   110.0
4          12203         Tobizaru  Tobizaru          J14w   110.0
5          12203         Tobizaru  Tobizaru          J14w   110.0
6          12203         Tobizaru  Tobizaru          J14w   110.0
7          12203         Tobizaru  Tobizaru          J14w   110.0
8          12203         Tobizaru  Tobizaru          J14w   110.0
9          12203         Tobizaru  Tobizaru          J14w   110.0
10         12203         Tobizaru  Tobizaru          J14w   110.0
11         12203         Tobizaru  Tobizaru          J14w   110.0
12         12203         Tobizaru  Tobizaru          J14w   110.0
13         12203         Tobizaru  Tobizaru          J14w   110.0
14         12203         Tobizaru  Tobizaru          J14w   110.0
15         12203         Tobizaru  Tobizaru          Ms2e   110.0
16         12203         Tobizaru  Tobizaru          Ms2e   110.0
17         12203         Tobizaru  Tobizaru          Ms1w   110.0
18         12203         Tobizaru  Tobizaru          Ms1w   110.0
19         12203         Tobizaru  Tobizaru          Ms3w   110.0
20         12203         Tobizaru  Tobizaru          Ms3w   110.0
21         12203         Tobizaru  Tobizaru          Ms3w   110.0
22         12203         Tobizaru  Tobizaru          J13e   110.0
23         12203         Tobizaru  Tobizaru          J13e   110.0
24         12203         Tobizaru  Tobizaru          J13e   110.0
25         12203         Tobizaru  Tobizaru          J13e   110.0
26         12203         Tobizaru  Tobizaru          J13e   110.0
27         12203         Tobizaru  Tobizaru          J13e   110.0
28         12203         Tobizaru  Tobizaru          J13e   110.0
29         12203         Tobizaru  Tobizaru          J13e   110.0
30         12203         Tobizaru  Tobizaru          J13e   110.0
31         12203         Tobizaru  Tobizaru          J13e   110.0
32         12203         Tobizaru  Tobizaru          J13e   110.0
33         12203         Tobizaru  Tobizaru          J13e   110.0
34         12203         Tobizaru  Tobizaru          J13e   110.0
35         12203         Tobizaru  Tobizaru          J13e   110.0
36         12203         Tobizaru  Tobizaru          J13e   110.0
37         12203         Tobizaru  Tobizaru          J13w   110.0
38         12203         Tobizaru  Tobizaru          J13w   110.0
39         12203         Tobizaru  Tobizaru          J13w   110.0
40         12203         Tobizaru  Tobizaru          J13w   110.0
41         12203         Tobizaru  Tobizaru          J13w   110.0
42         12203         Tobizaru  Tobizaru          J13w   110.0
43         12203         Tobizaru  Tobizaru          J13w   110.0
44         12203         Tobizaru  Tobizaru          J13w   110.0
45         12203         Tobizaru  Tobizaru          J13w   110.0
46         12203         Tobizaru  Tobizaru          J13w   110.0
47         12203         Tobizaru  Tobizaru          J13w   110.0
48         12203         Tobizaru  Tobizaru          J13w   110.0
49         12203         Tobizaru  Tobizaru          J13w   110.0
50         12203         Tobizaru  Tobizaru          J13w   110.0
51         12203         Tobizaru  Tobizaru          J13w   110.0
52         12203         Tobizaru  Tobizaru          J13w   110.0
53         12203         Tobizaru  Tobizaru          J13w   110.0
54         12203         Tobizaru  Tobizaru          J13w   110.0
55         12203         Tobizaru  Tobizaru          J13w   110.0
56         12203         Tobizaru  Tobizaru          J13w   110.0
57         12203         Tobizaru  Tobizaru          J13w   110.0
58         12203         Tobizaru  Tobizaru          J13w   110.0
59         12203         Tobizaru  Tobizaru          J13w   110.0
60         12203         Tobizaru  Tobizaru          J13w   110.0
61         12203         Tobizaru  Tobizaru          J13w   110.0
62         12203         Tobizaru  Tobizaru          J13w   110.0
63         12203         Tobizaru  Tobizaru          J13w   110.0
64         12203         Tobizaru  Tobizaru          J13w   110.0
65         12203         Tobizaru  Tobizaru          J13w   110.0
66         12203         Tobizaru  Tobizaru          J13w   110.0
67         12203         Tobizaru  Tobizaru          J10e   110.0
68         12203         Tobizaru  Tobizaru          J10e   110.0
69         12203         Tobizaru  Tobizaru          J10e   110.0
70         12203         Tobizaru  Tobizaru          J10e   110.0
71         12203         Tobizaru  Tobizaru          J10e   110.0
72         12203         Tobizaru  Tobizaru          J10e   110.0
73         12203         Tobizaru  Tobizaru          J10e   110.0
74         12203         Tobizaru  Tobizaru          J10e   110.0
75         12203         Tobizaru  Tobizaru          J10e   110.0
76         12203         Tobizaru  Tobizaru          J10e   110.0
77         12203         Tobizaru  Tobizaru          J10e   110.0
78         12203         Tobizaru  Tobizaru          J10e   110.0
79         12203         Tobizaru  Tobizaru          J10e   110.0
80         12203         Tobizaru  Tobizaru          J10e   110.0
81         12203         Tobizaru  Tobizaru          J10e   110.0
82         12203         Tobizaru  Tobizaru          J11w   110.0
83         12203         Tobizaru  Tobizaru          J11w   110.0
84         12203         Tobizaru  Tobizaru          J11w   110.0
85         12203         Tobizaru  Tobizaru          J11w   110.0
86         12203         Tobizaru  Tobizaru          J11w   110.0
87         12203         Tobizaru  Tobizaru          J11w   110.0
88         12203         Tobizaru  Tobizaru          J11w   110.0
89         12203         Tobizaru  Tobizaru          J11w   110.0
90         12203         Tobizaru  Tobizaru          J11w   110.0
91         12203         Tobizaru  Tobizaru          J11w   110.0
92         12203         Tobizaru  Tobizaru          J11w   110.0
93         12203         Tobizaru  Tobizaru          J11w   110.0
94         12203         Tobizaru  Tobizaru          J11w   110.0
95         12203         Tobizaru  Tobizaru          J11w   110.0
96         12203         Tobizaru  Tobizaru          J11w   110.0
97         12203         Tobizaru  Tobizaru          J10w   110.0
98         12203         Tobizaru  Tobizaru          J10w   110.0
99         12203         Tobizaru  Tobizaru          J10w   110.0
100        12203         Tobizaru  Tobizaru          J10w   110.0
101        12203         Tobizaru  Tobizaru          J10w   110.0
102        12203         Tobizaru  Tobizaru          J10w   110.0
103        12203         Tobizaru  Tobizaru          J10w   110.0
104        12203         Tobizaru  Tobizaru          J10w   110.0
105        12203         Tobizaru  Tobizaru          J10w   110.0
106        12203         Tobizaru  Tobizaru          J10w   110.0
107        12203         Tobizaru  Tobizaru          J10w   110.0
108        12203         Tobizaru  Tobizaru          J10w   110.0
109        12203         Tobizaru  Tobizaru          J10w   110.0
110        12203         Tobizaru  Tobizaru          J10w   110.0
111        12203         Tobizaru  Tobizaru          J10w   110.0
112        12203         Tobizaru  Tobizaru          J11e   110.0
113        12203         Tobizaru  Tobizaru          J11e   110.0
114        12203         Tobizaru  Tobizaru          J11e   110.0
115        12203         Tobizaru  Tobizaru          J11e   110.0
116        12203         Tobizaru  Tobizaru          J11e   110.0
117        12203         Tobizaru  Tobizaru          J11e   110.0
118        12203         Tobizaru  Tobizaru          J11e   110.0
119        12203         Tobizaru  Tobizaru          J11e   110.0
120        12203         Tobizaru  Tobizaru          J11e   110.0
121        12203         Tobizaru  Tobizaru          J11e   110.0
122        12203         Tobizaru  Tobizaru          J11e   110.0
123        12203         Tobizaru  Tobizaru          J11e   110.0
124        12203         Tobizaru  Tobizaru          J11e   110.0
125        12203         Tobizaru  Tobizaru          J11e   110.0
126        12203         Tobizaru  Tobizaru          J11e   110.0
127        12203         Tobizaru  Tobizaru          J12w   110.0
128        12203         Tobizaru  Tobizaru          J12w   110.0
129        12203         Tobizaru  Tobizaru          J12w   110.0
130        12203         Tobizaru  Tobizaru          J12w   110.0
131        12203         Tobizaru  Tobizaru          J12w   110.0
132        12203         Tobizaru  Tobizaru          J12w   110.0
133        12203         Tobizaru  Tobizaru          J12w   110.0
134        12203         Tobizaru  Tobizaru          J12w   110.0
135        12203         Tobizaru  Tobizaru          J12w   110.0
136        12203         Tobizaru  Tobizaru          J12w   110.0
137        12203         Tobizaru  Tobizaru          J12w   110.0
138        12203         Tobizaru  Tobizaru          J12w   110.0
139        12203         Tobizaru  Tobizaru          J12w   110.0
140        12203         Tobizaru  Tobizaru          J12w   110.0
141        12203         Tobizaru  Tobizaru          J12w   110.0
142        12203         Tobizaru  Tobizaru           J6w   110.0
143        12203         Tobizaru  Tobizaru           J6w   110.0
144        12203         Tobizaru  Tobizaru           J6w   110.0
145        12203         Tobizaru  Tobizaru           J6w   110.0
146        12203         Tobizaru  Tobizaru           J6w   110.0
147        12203         Tobizaru  Tobizaru           J6w   110.0
148        12203         Tobizaru  Tobizaru           J6w   110.0
149        12203         Tobizaru  Tobizaru           J6w   110.0
150        12203         Tobizaru  Tobizaru           J6w   110.0
151        12203         Tobizaru  Tobizaru           J6w   110.0
152        12203         Tobizaru  Tobizaru           J6w   110.0
153        12203         Tobizaru  Tobizaru           J6w   110.0
154        12203         Tobizaru  Tobizaru           J6w   110.0
155        12203         Tobizaru  Tobizaru           J6w   110.0
156        12203         Tobizaru  Tobizaru           J6w   110.0
157        12203         Tobizaru  Tobizaru           J8w   110.0
158        12203         Tobizaru  Tobizaru           J8w   110.0
159        12203         Tobizaru  Tobizaru           J8w   110.0
160        12203         Tobizaru  Tobizaru           J8w   110.0
161        12203         Tobizaru  Tobizaru           J8w   110.0
162        12203         Tobizaru  Tobizaru           J8w   110.0
163        12203         Tobizaru  Tobizaru           J8w   110.0
164        12203         Tobizaru  Tobizaru           J8w   110.0
165        12203         Tobizaru  Tobizaru           J8w   110.0
166        12203         Tobizaru  Tobizaru           J8w   110.0
167        12203         Tobizaru  Tobizaru           J8w   110.0
168        12203         Tobizaru  Tobizaru           J8w   110.0
169        12203         Tobizaru  Tobizaru           J8w   110.0
170        12203         Tobizaru  Tobizaru           J8w   110.0
171        12203         Tobizaru  Tobizaru           J8w   110.0
172        12203         Tobizaru  Tobizaru           J2e   110.0
173        12203         Tobizaru  Tobizaru           J2e   110.0
174        12203         Tobizaru  Tobizaru          M14e   110.0
175        12203         Tobizaru  Tobizaru          M14e   110.0
176        12203         Tobizaru  Tobizaru          M14e   110.0
177        12203         Tobizaru  Tobizaru          M14e   110.0
178        12203         Tobizaru  Tobizaru          M14e   110.0
179        12203         Tobizaru  Tobizaru          M14e   110.0
180        12203         Tobizaru  Tobizaru          M14e   110.0
181        12203         Tobizaru  Tobizaru          M14e   110.0
182        12203         Tobizaru  Tobizaru          M14e   110.0
183        12203         Tobizaru  Tobizaru          M14e   110.0
184        12203         Tobizaru  Tobizaru          M14e   110.0
185        12203         Tobizaru  Tobizaru          M14e   110.0
186        12203         Tobizaru  Tobizaru          M14e   110.0
187        12203         Tobizaru  Tobizaru          M14e   110.0
188        12203         Tobizaru  Tobizaru          M14e   110.0
189        12203         Tobizaru  Tobizaru           M4w   110.0
190        12203         Tobizaru  Tobizaru           M4w   110.0
191        12203         Tobizaru  Tobizaru           M4w   110.0
192        12203         Tobizaru  Tobizaru           M4w   110.0
193        12203         Tobizaru  Tobizaru           M4w   110.0
194        12203         Tobizaru  Tobizaru           M4w   110.0
195        12203         Tobizaru  Tobizaru           M4w   110.0
196        12203         Tobizaru  Tobizaru           M4w   110.0
197        12203         Tobizaru  Tobizaru           M4w   110.0
198        12203         Tobizaru  Tobizaru           M4w   110.0
199        12203         Tobizaru  Tobizaru           M4w   110.0
200        12203         Tobizaru  Tobizaru           M4w   110.0
201        12203         Tobizaru  Tobizaru           M4w   110.0
202        12203         Tobizaru  Tobizaru           M4w   110.0
203        12203         Tobizaru  Tobizaru           M4w   110.0
204        12203         Tobizaru  Tobizaru           M7w   110.0
205        12203         Tobizaru  Tobizaru           M7w   110.0
206        12203         Tobizaru  Tobizaru           M7w   110.0
207        12203         Tobizaru  Tobizaru           M7w   110.0
208        12203         Tobizaru  Tobizaru           M7w   110.0
209        12203         Tobizaru  Tobizaru           M7w   110.0
210        12203         Tobizaru  Tobizaru           M7w   110.0
211        12203         Tobizaru  Tobizaru           M7w   110.0
212        12203         Tobizaru  Tobizaru           M7w   110.0
213        12203         Tobizaru  Tobizaru           M7w   110.0
214        12203         Tobizaru  Tobizaru           M7w   110.0
215        12203         Tobizaru  Tobizaru           M7w   110.0
216        12203         Tobizaru  Tobizaru           M7w   110.0
217        12203         Tobizaru  Tobizaru           M7w   110.0
218        12203         Tobizaru  Tobizaru           M7w   110.0
219        12203         Tobizaru  Tobizaru           M8w   110.0
220        12203         Tobizaru  Tobizaru           M8w   110.0
221        12203         Tobizaru  Tobizaru           M8w   110.0
222        12203         Tobizaru  Tobizaru           M8w   110.0
223        12203         Tobizaru  Tobizaru           M8w   110.0
224        12203         Tobizaru  Tobizaru           M8w   110.0
225        12203         Tobizaru  Tobizaru           M8w   110.0
226        12203         Tobizaru  Tobizaru           M8w   110.0
227        12203         Tobizaru  Tobizaru           M8w   110.0
228        12203         Tobizaru  Tobizaru           M8w   110.0
229        12203         Tobizaru  Tobizaru           M8w   110.0
230        12203         Tobizaru  Tobizaru           M8w   110.0
231        12203         Tobizaru  Tobizaru           M8w   110.0
232        12203         Tobizaru  Tobizaru           M8w   110.0
233        12203         Tobizaru  Tobizaru           M8w   110.0
234        12203         Tobizaru  Tobizaru           M2w   131.0
235        12203         Tobizaru  Tobizaru           M2w   131.0
236        12203         Tobizaru  Tobizaru           M2w   131.0
237        12203         Tobizaru  Tobizaru           M2w   131.0
238        12203         Tobizaru  Tobizaru           M2w   131.0
239        12203         Tobizaru  Tobizaru           M2w   131.0
240        12203         Tobizaru  Tobizaru           M2w   131.0
241        12203         Tobizaru  Tobizaru           M2w   131.0
242        12203         Tobizaru  Tobizaru           M2w   131.0
243        12203         Tobizaru  Tobizaru           M2w   131.0
244        12203         Tobizaru  Tobizaru           M2w   131.0
245        12203         Tobizaru  Tobizaru           M2w   131.0
246        12203         Tobizaru  Tobizaru           M2w   131.0
247        12203         Tobizaru  Tobizaru           M2w   131.0
248        12203         Tobizaru  Tobizaru           M2w   131.0
249        12203         Tobizaru  Tobizaru           M3w   131.0
250        12203         Tobizaru  Tobizaru           M3w   131.0
251        12203         Tobizaru  Tobizaru           M3w   131.0
252        12203         Tobizaru  Tobizaru           M3w   131.0
253        12203         Tobizaru  Tobizaru           M3w   131.0
254        12203         Tobizaru  Tobizaru           M3w   131.0
255        12203         Tobizaru  Tobizaru           M3w   131.0
256        12203         Tobizaru  Tobizaru           M3w   131.0
257        12203         Tobizaru  Tobizaru           M3w   131.0
258        12203         Tobizaru  Tobizaru           M3w   131.0
259        12203         Tobizaru  Tobizaru           M3w   131.0
260        12203         Tobizaru  Tobizaru           M3w   131.0
261        12203         Tobizaru  Tobizaru           M3w   131.0
262        12203         Tobizaru  Tobizaru           M3w   131.0
263        12203         Tobizaru  Tobizaru           M3w   131.0
264        12203         Tobizaru  Tobizaru           M8w   131.0
265        12203         Tobizaru  Tobizaru           M8w   131.0
266        12203         Tobizaru  Tobizaru           M8w   131.0
267        12203         Tobizaru  Tobizaru           M8w   131.0
268        12203         Tobizaru  Tobizaru           M8w   131.0
269        12203         Tobizaru  Tobizaru           M8w   131.0
270        12203         Tobizaru  Tobizaru           M8w   131.0
271        12203         Tobizaru  Tobizaru           M8w   131.0
272        12203         Tobizaru  Tobizaru           M8w   131.0
273        12203         Tobizaru  Tobizaru           M8w   131.0
274        12203         Tobizaru  Tobizaru           M8w   131.0
275        12203         Tobizaru  Tobizaru           M8w   131.0
276        12203         Tobizaru  Tobizaru           M8w   131.0
277        12203         Tobizaru  Tobizaru           M8w   131.0
278        12203         Tobizaru  Tobizaru           M8w   131.0
279        12203         Tobizaru  Tobizaru           M8w   131.0
280        12203         Tobizaru  Tobizaru           M8w   131.0
281        12203         Tobizaru  Tobizaru           M8w   131.0
282        12203         Tobizaru  Tobizaru           M8w   131.0
283        12203         Tobizaru  Tobizaru           M8w   131.0
284        12203         Tobizaru  Tobizaru           M8w   131.0
285        12203         Tobizaru  Tobizaru           M8w   131.0
286        12203         Tobizaru  Tobizaru           M8w   131.0
287        12203         Tobizaru  Tobizaru           M8w   131.0
288        12203         Tobizaru  Tobizaru           M8w   131.0
289        12203         Tobizaru  Tobizaru           M8w   131.0
290        12203         Tobizaru  Tobizaru           M8w   131.0
291        12203         Tobizaru  Tobizaru           M8w   131.0
292        12203         Tobizaru  Tobizaru           M8w   131.0
293        12203         Tobizaru  Tobizaru           M8w   131.0
294        12203         Tobizaru  Tobizaru           M8w   131.0
295        12203         Tobizaru  Tobizaru           M8w   131.0
296        12203         Tobizaru  Tobizaru           M8w   131.0
297        12203         Tobizaru  Tobizaru           M8w   131.0
298        12203         Tobizaru  Tobizaru           M8w   131.0
299        12203         Tobizaru  Tobizaru           M8w   131.0
300        12203         Tobizaru  Tobizaru           M8w   131.0
301        12203         Tobizaru  Tobizaru           M8w   131.0

In [83]:
import numpy as np
import sys
import matplotlib

ModuleNotFoundError: No module named 'matplotlib'

In [79]:
# table = pd.pivot_table(combined_df, index=['rikishi1_id', 'weight'])

# table

combined_df.plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.